*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Ubuntu mono;
    cursor: none;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 10vh;
    margin: auto;
    align-items: center; 
}
.nav-links{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-links li{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;

}
.nav-links,h1{
    flex: 1;
}

.cursor{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 3px solid black;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: .3s ease;
    transition-property: background,transform,transition;
    transform-origin: 100% 100%;
    z-index: -1;
    mix-blend-mode: difference !important;
    background: #000;
}
.link-grow{
    transform: scale(2);
    background: transparent;
    mix-blend-mode: difference;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}



